<%= render(:partial => 'feed_aside') %>
<div id="content">
	<div class="comment_view_bg">
		<div class="comment_view">
			<%= render(:partial => 'feed_share') %>
		</div>
	</div>
	<%= render(:partial => 'feed') %>
</div>

<script type="text/javascript">
$(document).ready(function() {
	
})
</script>