<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        
        <section style="float:left;max-width:600px;width:100%;border:1px solid #ccc;">
                    <div style="float:left;width:97%;height:44px;padding:0px;text-align: left; padding:10px 0 0 3%;">
                <a href="<%= @request.base_url %>" style="width:120px;text-decoration:none;height:120px;display: inline-block;"><img alt="logo-image" src="<%= @request.base_url+'/ft_logo.png' %>" title="FitTogther" width="120" height="120" /> </a></div>
         <div style="float:left;width:94%;padding:10px 3% 15px;">
                <p style="width:100%;float:left;font-size:16px; margin:5px 0px;">Hi there,</p>
                <p style="width:100%;float:left;line-height:20px;font-size:16px; margin:5px 0px;">
                    I thought you might find this website useful.</p>
                <p style="width:100%;float:left;line-height:20px;font-size:16px; margin:5px 0px;">
                    For using this site please&nbsp; <a title="Sign Up" href="<%= @request.base_url %>">Sign Up</a>
                </p>
                <div style="float:left;width:100%;">
                    <br />
                    <div style="float:left;width:100%;">
                        <span style="float:left;width:100%;line-height:20px;font-size:16px;">Regards,</span> <strong style="float:left;width:100%;line-height:20px;"><%= (@current_user.first_name.blank? or @current_user.last_name.blank? ? @current_user.user_name.humanize : @current_user.first_name.humanize+' '+@current_user.last_name.humanize) %></strong></div>
                </div>
            </div>
        </section>
        <p>&nbsp;</p>

    </body>
</html>
