<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Fittogether.com Sign Up Invitation</h1>
        <section style="float:left;width:600px;border:1px solid #ccc;">
            <div style="float:left;width:93.6%;background:#2f8352;height:64px;border-radius:0px 0px 6px 6px;padding:16px 20px;">
                <a href="<%= @request.base_url %>" style="float:left;width:192px;text-decoration:none;height:65px;"><img alt="logo-image" src="<%= @request.base_url+'/ft_logo.png' %>" title="FitTogther" /> </a></div>
            <div style="float:left; padding: 30px; width: 540px">
                <em style="float:left;width:100%;font-style:normal;">Hello Sir,</em>
                <p style="float:left;line-height:20px;margin-top:30px;">
                    I thought you might find this website useful.</p>
                <p style="float:left;line-height:20px;margin-top:30px;">
                    For using this site please&nbsp; <a title="Sign Up" href="<%= @request.base_url %>">Sign Up</a>
                </p>
                <div style="float:left;width:100%;">
                    <br />
                    <div style="float:left;width:100%;">
                        <span style="float:left;width:100%;line-height:20px;">Regards,</span> <strong style="float:left;width:100%;line-height:20px;"><%= (@current_user.first_name.blank? or @current_user.last_name.blank? ? @current_user.user_name.humanize : @current_user.first_name.humanize+' '+@current_user.last_name.humanize) %></strong></div>
                </div>
            </div>
        </section>
        <p>&nbsp;</p>

    </body>
</html>
