<section class="admin_maincontent">
<div class="page-header">
<h1>Statistics</h1>
<div class="clear"></div>
</div>
<div class="table-responsive">
<table class="table table-bordered table-striped table-n" style="float:left; width:50%; text-align:left;">
<tr><td>Total no. of Registered Users</td><td> <%= @users %></td></tr>
<tr><td>Total no. of Active Users</td><td> <%= @active_users %></td></tr>
<tr><td>Total no. of Static Pages</td><td> N-A</td></tr>
</table>
<div class="clear"></div>
</div>
</section>