<% title "Edit User" %>
<section class="admin_maincontent">
  <div class="page-header">
    <div class="col-sm-9 PaddingLeft">
      <h1 class="NoMargin">Edit User</h1>
    </div>
    <div class="col-sm-3 PaddingRight">
      <div class="show_back_right">
      <%= link_to 'Show', admin_account_path(@user) , :class => 'btn btn-primary' %>
      <%= link_to 'Back', :back , :class => 'btn btn-default' %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="table-responsive left width100">
    <%= render 'form' %>
  </div>
  <div class="clear"</div>
</section>
