<div class="header">
    <div class="title">
        <h2>About</h2>
    </div>       
</div>
<div id="feed" class="group">
	<div class="post event">
        <div class="header">
            <div class="user">
                <div class="avatar"><%= image_tag(@group.group_image) %></div>
                <div class="data">                    
                    <h3 class="event"><%=  @group.title.capitalize %> </h3>
                    <h3 class="location"><%=  @group.address.capitalize   %></h3>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content">
	            <p></p><%=  @group.description %><p></p>
	        </div>
        </div>       
    </div>
</div>

  
                 
        
