
            <!-- Start: Advertisements -->
            <aside id="ads">
                <div class="ad"></div>
                <div class="ad"></div>
                <div class="ad"></div>
            </aside>
            <!-- End: Advertisements -->


