
<script type="text/javascript">
$(function() {
	
	$(".eve_del").on("ajax:success", function(e, data, status, xhr)  {
    $('.flash-message').html('<div class="alert alert-success"> Event deleted succesfully.</div>').show();
    $(this).parent().parent('div .post').hide();
     });
    $(".eve_del").on("ajax:error", function(e, data, status, xhr)  {
	 console.log(data);
    $('.flash-message').html('<div class="alert alert-danger"> Please Try again.</div>').show();
     });
	
	  $(document).on('click', '.eventkudos', function(e) {
		  e.preventDefault();	
		  e.stopPropagation()
          var eventid = $(this).attr('data-id');
          var classs = $(this).children('div').attr('class');
          var that = $(this);
	      $.ajax({
          type: "POST",
          url: "<%= create_event_kudos_path %>", //sumbits it to the given url of the form
          data: {event_id: eventid},
          dataType: "HTML",
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          }
          }).success(function(data) {
			  if (data == 1) {
			    	$(that).children('div').toggleClass('icon icon-liked');			
			  }	
        });

    });
    
      $(document).on('click', '.post_event_comment', function(e) {
	    e.preventDefault();		  
      var that = $(this);
      console.log(globalVariableforComment);
      var textnew = $(this).siblings('textarea').val(); 
      var textold = $(this).siblings('textarea').val();
      if (globalVariableforComment.length > 0 ) {
       $.each(globalVariableforComment, function( key, valu ) {   
         textnew  =    textnew.replace(valu.key, valu.value);
         console.log(textnew);
       });  
     
      }
        var text = textnew!='' ? textnew : textold
        if (text == '') {
		  $(this).siblings('textarea').attr('placeholder',"Don't forget to type your comment");	
          return false;
        }
        var event_id = $(this).attr('data-id');
 
        $.ajax({
          type: "POST",
          url: '/create_comment_on_event/', //sumbits it to the given url of the form
          data: {text: text, event_id: event_id},
          dataType: "HTML",
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          }
        }).success(function(data) {
          $(".comment_container").append(data);
         that.siblings('textarea').val('');
         	var height = that.parent().parent().find('.comment_container').height() + that.parent().parent().find('.add_comment').height() + 37;
			that.parent().parent().css('height',height).find('.add_comment textarea').attr('placeholder',"Start commenting here...").val('').focus();


        });

     

    });
    
     // add member
    $('.attend').on('click', function() {	
      var id = $(this).attr('data-id');
      var type = $(this).attr('data-type');
      var that = this;
      var mydata = {'id': id, 'type': type};
      $.ajax({
        type: "POST",
        url: "/add_del_attending", //sumbits it to the given url of the form
        dataType: "HTML",
        data: mydata,  
        beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        success: function(data) {            
			$(that).siblings().prop('disabled', false); 
			$(that).siblings().removeClass('atnat');		        
			$(that).prop('disabled', true);
			$(that).addClass('atnat');

        },
        error: function(xhr, ajaxOptions, thrownError) {
          $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
          console.log(thrownError)

        }

      });

    }); 
    
    // delete event comment
	$(document).on('click','.event-comment-delete', function() {
      if (confirm("Do you want to delete comment?")) {
        var toid = $(this).attr('data-id');
        var mydata = {'id': toid};
        var that = this;
        $.ajax({
          type: "DELETE",
          url: '/event_comment_delete/', //sumbits it to the given url of the form
          dataType: "HTML",
          data: mydata,
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          },
          success: function(data) {
            $('#scont' + data).fadeOut();
            $('.flash-message').html('<div class="alert alert-success"> Comment has been deleted successfully</div>').show();
          },
          error: function(xhr, ajaxOptions, thrownError) {
            $('.flash-message').html('<div class="alert alert-danger"> Please Try again</div>').show();
            console.log(thrownError)

          }

        });
      }
    });
    
    if(typeof Fit !== 'undefined'){
        $('#feed_container #feed .post .footer > div.comment').click(Fit.toggle_comments);
        $('#feed_container #feed .post .comment_section .post_comment').click(Fit.post_comment);
    }
});
</script>
