
   <div class="input_container">
    <label>Facebook url:</label>   
      <input type="text" class="fillone" name="account[fb_link]" placeholder="" value="<%= @account_details.fb_link %>">      
  </div>
  
  <div class="input_container">
    <label>Twitter url:</label>
        <input type="text" class="fillone" name="account[tw_link]" placeholder="" value="<%= @account_details.tw_link %>">    
    </div>
  <div class="input_container">
    <label>Google+ url:</label>
       <input type="text" class="fillone" name="account[google_link]" placeholder="" value="<%= @account_details.google_link %>">    
    </div>
  <div class="input_container">
    <label>LinkedIn url:</label>
         <input type="text" class="fillone" name="account[linked_link]" placeholder="" value="<%= @account_details.linked_link %>">  
    </div>
  
