<h1>Social Media links </h1>
  <div class="position row">
    <h2>Facebook Social Media Link</h2>
    <div class="input">
      <input type="text" class="fillone" name="account[fb_link]" placeholder="" value="<%= @account_details.fb_link %>">    
    </div>
  </div>
  <div class="position row">
    <h2>Twitter Social Media Link</h2>
    <div class="input">
      <input type="text" class="fillone" name="account[tw_link]" placeholder="" value="<%= @account_details.tw_link %>">    
    </div>
  </div>
  <div class="position row">
    <h2>Google+ Social Media Link</h2>
    <div class="input">
     <input type="text" class="fillone" name="account[google_link]" placeholder="" value="<%= @account_details.google_link %>">    
    </div>
  </div>
  <div class="position row">
    <h2>LinkedIn Social Media Link</h2>
    <div class="input">
      <input type="text" class="fillone" name="account[linked_link]" placeholder="" value="<%= @account_details.linked_link %>">  
    </div>
  </div>
