<style>
#infinite-scrolling {
display:none;
}
</style>
<div id="seed" class="fitsport-row">
	
	<div class="fitsport-header">
		<div class="title">
			<h2>FitSpots</h2>
		</div>
		<div class="actions">
			<button class="write_post" data-toggle="modal" data-target="#fitspotForm">Create Fitspot</button>
			
		</div>
	</div>
	<%= render :partial => 'fitspot' %>
 </div>
  <div id="infinite-scrolling">                        
  <%= will_paginate @fitspots %>
</div>    
<!-- end code -->
<div class="modal fade" id="fitspotForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Fitspot</h4>
      </div>
      <div class="modal-body">
		<%= render(:partial => 'fitspots/newfitspot') %>
    </div>
  </div>
</div>
</div>
<script>
$('.sugfitpost').each(function(i, v){		
		var $that = $(this);
		$that.geocomplete({ 
			map: '#'+$that.attr('map_placeholder'),
			mapOptions: {
			zoom: 100,
			draggable: false
		  },
		  markerOptions: {
			disabled: true
		  },			
		});	
		$that.trigger("geocode");
	});

</script>


