<!-- second row -->
<div class="inner-page-row">
    <div class="inner-container">
	<section class="error-cotner">
		<%= image_tag("404.png",:width => "365", :height => "365", :alt => "Error Page") %>
	<section class="error-right">
		<h2>404 ERROR: Page not found</h2>
		<p>The page you are looking for cannot be found. <span>Drop us an email</span> and let us know how you got here! You can also email us at:</p>
		<a title="email" href="javascript:void(0);">contactus@fittogether.com</a>
	</section>
	<div class="clear"></div>
	</section>
	</div>
</div>
