<%= javascript_include_tag "inline_edit" %>
<div class="events">
<div class="ad-btn">
</div>	
<div class="conver-area">

	
	<div class="conver-right msg-right">
		<%= render(:partial => 'challenges/side_challenge', :message => @allchallenge) %>
	</div>
  </div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
