#profile_header .profile_bar .profile_data .statistics h1{
	font-size: 24px;
	/*text-transform: uppercase;*/
}

#profile_header .profile_bar .avatar{
	border: 3px solid #000;
}

#profile_header .profile_bar .profile_data{
	transition: background-color .5s;
	-webkit-transition: background-color .5s;
	-moz-transition: background-color .5s;
}

#profile_header .profile_bar .profile_nav .nav a.selected{
	transition: border .5s;
	-webkit-transition: border .5s;
	-moz-transition: border .5s;
}