#feed_container #feed{
	margin: 45px 5px 10px;
	white-space: nowrap;
}

#feed_container #feed .notification{
	padding: 10px 0;
	border-bottom: 1px solid rgb(151,151,151);
}

#feed_container #feed .notification > div{
	display: inline-block;
	vertical-align: middle;
}

#feed_container #feed .notification > div:nth-child(1){
	width: 9%;
}

#feed_container #feed .notification > div:nth-child(1) .avatar{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50px;
	border: none;
}

#feed_container #feed .notification > div:nth-child(1) .avatar img{
	min-width: 100%;
	min-height: 100%;
	width: 100%;
}

#feed_container #feed .notification > div:nth-child(2){
	width: 71%;
	white-space: normal;
	padding: 0 10px;
}

#feed_container #feed .notification > div:nth-child(2) a{
	font-weight: bold;
}

#feed_container #feed .notification > div:nth-child(3){
	width: 20%;
	font-weight: bold;
	font-size: 14px;
	color: rgb(47,131,82);
}

#feed_container #feed .notification div{
	box-sizing: border-box;
}
