header{
	height: 135px;
}

header .settings_nav{
	width: 100%;
	background-color: rgb(54,54,54);
	height: 36px;
	line-height: 36px;
	color: #fff;	
}

header .settings_nav nav{
	width: 960px;
	margin: 0 auto;
	height: 36px;
	line-height: 36px;
	color: #fff;
	/*text-align: center;*/
	white-space: nowrap;
}

header .settings_nav nav a{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding: 0 10px;
	font-family: "Helvetica Neue","Helvetica","Arial";
}

header .settings_nav nav a{
	margin-right: 22px;
}

header .settings_nav nav a:first-child{
	margin-left: 96px;
}

header .settings_nav nav a.selected{
	background: url(/../images/global/nav_selected.png) no-repeat;
	background-position: center bottom;
	background-position-y: 26px;
	height: 44px; 
}

#body{
	margin: 135px auto 0;
	height: calc(100% - 60px);
	height: -webkit-calc(100% - 60px);
	height: -moz-calc(100% - 60px);
	min-height: calc(100% - 60px);
	min-height: -moz-calc(100% - 60px);
	min-height: -webkit-calc(100% - 60px);
}

#body > #main_container{
	padding-top: 18px;
	height: calc(100% - 13px - 135px); 
	height: -webkit-calc(100% - 13px - 135px); 
	height: -moz-calc(100% - 13px - 135px); 
	white-space: normal;
}

#main_container .count_box{
	/*width: 302px;*/
	width: 281px;
	height: 196px;
	background-color: rgb(54,54,54);
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 0 6px 6px 0;
}

#main_container .count_box:last-child{
	margin-right: 0;
}

#main_container .count_box .header{
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px;
	background-color: rgb(47,131,82);
	height: 43px;
	line-height: 43px;
	position: relative;
	padding: 0 15px;
}

#main_container .count_box .header h2{
	margin: 0;
	color: #fff;
	line-height: 43px;
	font-size: 16px;
	text-transform: uppercase;
}

#main_container .count_box .header select{
	position: absolute;
	right: 15px;
	top: 0;
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	max-width: 125px;
	cursor: pointer;
	height: 43px;
}

#main_container .count_box .body{
	border: 1px solid rgb(151,151,151);
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/*width: 100%;*/
	height: 153px;
	text-align: center;
	color: #fff;
}

#main_container .count_box .body h1{
	margin: 0;
	font-size: 100px;
	font-weight: bold;
	line-height: 123px;
	height: 110px;
}

#main_container .count_box .body h1 span{
	font-size: 18px;
	line-height: 23px;
}

#main_container .count_box .body p{
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 23px;
}

#main_container .list_box{
	/*width: 302px;*/
	width: 424px;
	height: 283px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 0 7px 6px 0;
	border: 1px solid rgb(151,151,151);
}

#main_container .list_box:last-child{
	margin-right: 0;
}

#main_container .list_box .header{
	background-color: rgb(47,131,82);
	height: 43px;
	line-height: 43px;
	position: relative;
	padding: 0 15px;
	border-bottom: 1px solid rgb(151,151,151);
}

#main_container .list_box .header h2{
	margin: 0;
	color: #fff;
	line-height: 43px;
	font-size: 16px;
	text-transform: uppercase;
}

#main_container .list_box .header select{
	position: absolute;
	right: 15px;
	top: 0;
	border: none;
	background-color: transparent;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	max-width: 125px;
	cursor: pointer;
	height: 43px;
}

#main_container .list_box .body ol{
	margin: 0;
	padding: 0;
}

#main_container .list_box .body li{
	height: 47px;
	border-bottom: 1px solid rgb(151,151,151);
}

#main_container .list_box .body li div{
	display: inline-block;
	vertical-align: middle;
	line-height: 47px;
	height: 47px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#main_container .list_box .body li div.position{
	width: 34px;
	text-align: center;
}

#main_container .list_box .body li div.avatar{
	width: 32px;
	height: 32px;
	border-radius: 32px;
	border: 1px solid rgb(151,151,151);
	overflow: hidden;
}

#main_container .list_box .body li div.avatar img{
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	line-height: 32px;
	text-align: center;
	color: rgb(151,151,151);
}

#main_container .list_box .body li div.name{
	width: 210px;
	padding-left: 10px;
}

#main_container .list_box .body li div.count{
	text-align: center;
	width: 120px;
}

#main_container .list_box .body li div p{
	display: inline;
}

#main_container .list_box .body li:last-child{
	border: none;
}

#main_container .list_box .body li:nth-child(even){
	background-color: rgb(245,245,245);
}

#main_container .list_box .body div.trainer{
	display: inline-block;
	vertical-align: top;
	margin: 16px 0 10px 13px;
	width: 195px;
}

#main_container .list_box .body div.trainer > div{
	display: inline-block;
	vertical-align: middle;
}

#main_container .list_box .body div.trainer .avatar{
	width: 48px;
	height: 48px;
	border-radius: 48px;
	border: 2px solid rgb(151,151,151);
	overflow: hidden;
	text-align: center;
}

#main_container .list_box .body div.trainer .avatar img{
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	text-align: center;
	line-height: 48px;
	color: rgb(151,151,151);
}

#main_container .list_box .body div.trainer .details{
	margin-left: 6px;
	width: 125px;
}

#main_container .list_box .body div.trainer .details > div{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 16px;
}

#main_container .list_box .body div.trainer .details > div p{
	display: inline;
}

#main_container .list_box .body div.trainer .details > div.name p{
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
}

#main_container .list_box .body div.trainer .details > div.time p{
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
}

#main_container .list_box .body div.trainer .details > div.timeslots p{
	font-size: 12px;
	font-weight: bold;
	color: rgb(47,131,82);
	line-height: 15px;
}
#main_container .input_container{
	box-sizing: border-box;
	width: 100%;
	border: none;
	background-color: transparent;
	margin: 0;
}
/*------------------------------------------------------
		Basic
------------------------------------------------------*/

#main_container #basic,
#main_container #about,
#main_container #activities,
#main_container #privacy,
#main_container #social,
#main_container #fitbit,
#main_container #email{
	/*width: 100%;*/
	min-height: 500px;
	border: 1px solid rgb(151,151,151);
	border-radius: 5px;
	background-color: #fff;
}

#main_container form{
	position: relative;
}

#main_container form > div{
	padding: 20px;
}
#main_container .modal-body form > div{padding:0px;}
#main_container .modal-body form > div select{border:2px solid #000; width:100%;}
#main_container #basic form .avatar_input > div,
#main_container #basic form .avatar_input > input,
#main_container #basic form .avatar_input > p{
	line-height: 100px;
	display: inline-block;
	vertical-align: middle;
	color: rgb(47,131,82);
	font-family: "Helvetica Neue","Helvetica","Arial";
}

#main_container #basic form .avatar_input > p{
	padding-left: 20px;
}

#main_container #basic form .avatar_input > input{
	position: absolute;
	left: 20px;
	width: 300px;
	height: 100px;
	cursor: pointer;
	opacity: 0;
}

#main_container #basic form .avatar{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border: 1px solid rgb(47,131,82);
	overflow: hidden;
}

#main_container #basic form .avatar img{
	min-width: 100%;
	height: 100%;
	width: 100%;
	vertical-align:top;
}

#main_container form > div input{
	background-color: #fff;
}

#main_container form > div label,
#main_container form > div input[type="text"],
#main_container form > div input[type="tel"],
#main_container form > div input[type="url"],
#main_container form > div select{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
}
#main_container form > div input[type="color"]{
	border: 1px solid rgb(47,131,82);
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    padding: 2px 10px 4px;
    font-size: 16px;
}

#main_container form > div div.radio{
	display: inline-block;
	vertical-align: middle;
	width: 186px;
	height: 36px;
	line-height: 33px;
	text-align: center;
	border: 1px solid rgb(47,131,82);
	position: relative;
	margin:0px;
	
}

#main_container form > div div.radio_button{
	display: inline-block;
}

#main_container form > div div.radio:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#main_container form > div div.radio:last-child{
	border-top-right-radius: 5px; 
	border-bottom-right-radius: 5px;
	border-left: none;
}

#main_container form > div div.radio input[type="radio"]{
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	cursor: pointer;
	margin: 0;
}

#main_container form > div div.radio.checked{
	background-color: rgb(47,131,82);
	color: #fff;
}

#main_container #basic form > div label{
	font-weight: bold;
	width: 180px;
	text-align: right;
	margin-right: 10px;
	vertical-align:top;
	font-family: "Helvetica Neue","Helvetica","Arial";
}

#main_container #social form > div label{
	font-weight: bold;
	width: 150px;
	text-align: right;
	margin-right: 10px;
}

#main_container #about form > div label{
	font-weight: bold;
	width: 350px;
	text-align: right;
	margin-right: 10px;
	margin:4px 10px 0 0;
}

#main_container form > div input[type="text"],
#main_container form > div input[type="password"],
#main_container form > div input[type="tel"],
#main_container form > div input[type="url"],
#main_container form > div select{
	width: 374px;
	padding: 2px 10px 5px;
	height:36px;
	border: 1px solid rgb(47,131,82);
	line-height:1.42857;
	font-family: "Helvetica Neue","Helvetica","Arial";
}

#main_container form > div input[type="textarea"]
{
	width: 374px;
	padding: 2px 10px 4px;
	border: 1px solid rgb(47,131,82);
	height: 120px;
	font-family: "Helvetica Neue","Helvetica","Arial";
}

#main_container form > div.location input{
	width: 100px;
}

#main_container form > div.location select{
	width: 122px;
}

#main_container form > div select{
	width: 374px;
	height: 38px;
	border-radius: 0;
	background-color: #fff;
	padding: 7px 0;
	line-height:30px;
}

#main_container form > div select[multiple="multiple"]{
	height: 100px;
}

#main_container form > div input[type="text"][readonly]{
	background-color: #eee;
}

#main_container form .submit_container{
	text-align: right;
}

#main_container form .submit_container button[type="submit"],
#main_container form .submit_container a.submit,
#main_container form .submit_container button[type="button"]{
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background-color: rgb(47,131,82);
	cursor: pointer;
	font-weight: bold;
}

#main_container #email form div.submit_container,
#main_container #privacy form div.submit_container{
	padding: 20px;
}

#main_container table thead th,
#main_container table tbody td:nth-child(2),
#main_container table tbody td:nth-child(3){
	text-align: center;
}

#main_container table thead th,
#main_container table tbody td{
	padding: 10px 10px;
}

#main_container table tbody td input{
	cursor: pointer;
}

table, table tr td{
	/*border: 1px solid rgb(151,151,151);*/
}

#main_container #activities form > div,
#main_container #privacy form > div,
#main_container #email form > div,
#main_container #fitbit form > div{
	position: relative;
	border-bottom: 1px solid rgba(151,151,151,.2);
}

#main_container #activities .avatar{
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 50px;
	background-color: rgb(47,131,82);
	display: inline-block;
	vertical-align: middle;
}

#main_container #activities label{
	font-weight: bold;
	padding: 0 10px;
}

#main_container #activities .checkbox{
	position: absolute;
	right: 20px;
	top: 12px;
	line-height: 50px;
	text-align: center;
	height: 48px;
	width: 48px;
	cursor: pointer;
	background-color: #fff;
	border-radius: 50px;
	border: 1px solid rgb(47,131,82);
}

#main_container #activities .checkbox.checked{
	background: url(/../images/global/check.png) no-repeat;
	background-position: center;
	background-color: rgb(47,131,82);
}

#main_container #activities input{
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	opacity: 0;
	cursor: pointer;
}

#main_container #privacy .radio_button,
#main_container #email .radio_button,
#main_container #fitbit .button{
	position: absolute;
	right: 20px;
	top: 20px;
}

#main_container #privacy label,
#main_container #email label,
#main_container #fitbit label{
	line-height: 38px;
	font-weight: bold;
}

#main_container .radio_button .radio{
	border-radius: 0;
}

#main_container .radio_button .radio:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#main_container .radio_button .radio:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#main_container #fitbit .button{
	width: 100px;
	height: 36px;
	line-height: 31px;
	text-align: center;
	color: #fff;
	background-color: rgb(47,131,82);
	border: 2px solid rgb(47,131,82);
	border-radius: 5px;
	/*position: relative;*/
	font-weight: bold;
}

#main_container #fitbit .button:hover{
	background-color: #fff;
	color: rgb(47,131,82);
}

#main_container #fitbit .button a{
	color: inherit;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	font-family: "Helvetica Neue","Helvetica","Arial";
	font-size:17px;
}

#main_container #fitbit p.notice{
	text-align: center;
	font-weight: bold;
	line-height: 38px;
}
.mobile input {
    margin: 0 0 0 5px !important;
    width: 120px !important;
}

#basic label.error {
    color: #FF0000;
    display: block;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.error {
    color: #FF0000;
    font-size: 12px !important;
    font-weight: normal;
}
#main_container #about .about_gym{display:inline-block; vertical-align:top; width:100%;}
#main_container #about .about_gym label{width:auto; text-align:left;}
#main_container #about .about_gym .input{float:right;}
#main_container #about .about_gym .sec-in{display:inline-block; vertical-align:top;}
#main_container #about .about_gym .sec-in p{display:inline-block; margin:0 5px 0 10px; font-family: "Helvetica Neue","Helvetica","Arial";}
#main_container #about .about_gym .sec-in input{width:200px;}
#main_container #about .about_gym label.error{width:100%; display: block; font-weight:normal; margin:2px 0 0; line-height:18px;}
#main_container #about .about_gym .sec-in label.error{padding-left:50px;}
#main_container form > div.wherelive select{width:132px;}
#main_container form > div.location-lg.profes select{width:270px;}
.trainer-heading{font-family: "Helvetica Neue","Helvetica","Arial";}
#main_container #fitbit form > div.input_fitbit label{width:180px; text-align:right; margin:0 10px 5px 0px;}
#main_container #fitbit form > div.input_fitbit .form-control{border-radius:0px!important;-moz-border-radius:0px!important; -webkit-border-radius:0px!important;}
