
/* ================================== new  css ============================================================================================*/
.error-cotner{text-align:center;padding:30px 0 0; font-weight:normal;}
.error-right{padding:20px 0 0;}
.error-right h2{text-transform:uppercase; color:#000; font-size:30px;}
.error-right p{color:#181818; font-size:17px; line-height:20px; padding:10px 25% 10px;}
.error-right a{color:#2f8352; font-size:17px;}
/* ================================== new  css end ========================================================================================*/
