<div class="photo_viewer">
	<div class="left_slide">
		
	</div>
	<div class="photo_viewer_box">
		<div class="photo">
			
		</div>
		<div class="side_bar">
			<div class="description">
				
			</div>
			<div class="comments">
				
			</div>
		</div>
	</div>
	<div class="right_slide">
		
	</div>
</div>