
<div id="activities">  
      <% @profileuser.account_activity.each do |activity| %>
      <% if activity.activity_id.present?   %>
          <% activity.activity_id.each do |act| %>
           <% name =  get_activity_name(act, 'name') %>
           <% slug =  get_activity_name(act, 'slug') %>
          <div class="input_container activity_list">
		  <div class="avatar activity <%= slug %>"></div>
        <label><%= name %></label>
		
		</div>
          <% end %>
           <% else %>    
          <h2 class="notification-msg">No Activity found. </h2>
        <% end %>   
      <% end %>      
    </div>
<style>    
#main_container #activities .avatar {
  background-color: #2F8352;
  border-radius: 50px;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  vertical-align: middle;
  width: 50px;
}
</style>   
