<!-- Start: Dashboard -->
<div class="count_boxes">
    <div class="checkins count_box">
        <div class="header">
            <h2>Check Ins</h2>
            <select>
                <option>Today</option>
                <option>Yesterday</option>
                <option>Calendar</option>
            </select>
        </div>
        <div class="body">
            <h1>328</h1>
            <p>Today</p>
        </div>
    </div>
    <div class="classes count_box">
        <div class="header">
            <h2>Classes</h2>
            <select>
                <option>Boot Camp</option>
                <option>Cardio Circuit</option>
                <option>Pilates</option>
                <option>Running</option>
                <option>Spinning</option>
                <option>Swimming</option>
                <option>Tennis</option>
                <option>Yoga</option>
            </select>
        </div>
        <div class="body">
            <h1>32<span>/100</span></h1>
            <p>Open Slots Today</p>
        </div>
    </div>
    <div class="appointments count_box">
        <div class="header">
            <h2>Appointments</h2>
            <select>
                <option>Today</option>
                <option>Tomorrow</option>
                <option>Calendar</option>
            </select>
        </div>
        <div class="body">
            <h1>18</h1>
            <p>Today</p>
        </div>
    </div>
</div>

<div class="list_boxes">
    <div class="most_active list_box">
        <div class="header">
            <h2>Most Active Members</h2>
            <select>
                <option>This Week</option>
                <option selected>This Month</option>
                <option>This Year</option>
            </select>
        </div>
        <div class="body">
            <ol>
                <li>
                    <div class="position"><p>1.</p></div>
                    <div class="avatar"><img src="../../public/img/profile/michaeljordan_avatar.png" title="Michael Jordan" alt="MJ"></div>
                    <div class="name"><p>Michael Jordan</p></div>
                    <div class="count"><p>30 Check Ins</p></div>
                </li>
                <li>
                    <div class="position"><p>2.</p></div>
                    <div class="avatar"><img src="../../public/img/profile/michaeljordan_avatar.png" title="Michael Jordan" alt="MJ"></div>
                    <div class="name"><p>Michael Jordan</p></div>
                    <div class="count"><p>30 Check Ins</p></div>
                </li>
                <li>
                    <div class="position"><p>3.</p></div>
                    <div class="avatar"><img src="../../public/img/profile/michaeljordan_avatar.png" title="Michael Jordan" alt="MJ"></div>
                    <div class="name"><p>Michael Jordan</p></div>
                    <div class="count"><p>30 Check Ins</p></div>
                </li>
                <li>
                    <div class="position"><p>4.</p></div>
                    <div class="avatar"><img src="../../public/img/profile/michaeljordan_avatar.png" title="Michael Jordan" alt="MJ"></div>
                    <div class="name"><p>Michael Jordan</p></div>
                    <div class="count"><p>30 Check Ins</p></div>
                </li>
                <li>
                    <div class="position"><p>5.</p></div>
                    <div class="avatar"><img src="../../public/img/profile/michaeljordan_avatar.png" title="Michael Jordan" alt="MJ"></div>
                    <div class="name"><p>Michael Jordan</p></div>
                    <div class="count"><p>30 Check Ins</p></div>
                </li>
            </ol>
        </div>
    </div>

    <div class="trainers_working list_box">
        <div class="header">
            <h2>Trainers Working</h2>
            <select>
                <option>Today</option>
                <option>Tomorrow</option>
            </select>
        </div>
        <div class="body">
            <div class="trainer">
                <div class="avatar"><img src="../../public/img/profile/andrewluck_avatar.png" title="Andrew Luck" alt="AL"></div>
                <div class="details">
                    <div class="name"><p>Andrew Luck</p></div>
                    <div class="time"><p>11am-7pm</p></div>
                    <div class="timeslots"><p>3 Timeslots Available</p></div>
                </div>
            </div>
            <div class="trainer">
                <div class="avatar"><img src="../../public/img/profile/peytonmanning_avatar.png" title="Peyton Manning" alt="PM"></div>
                <div class="details">
                    <div class="name"><p>Peyton Manning</p></div>
                    <div class="time"><p>5am-2pm</p></div>
                    <div class="timeslots"><p>3 Timeslots Available</p></div>
                </div>
            </div>
            <div class="trainer">
                <div class="avatar"><img src="../../public/img/profile/drewbrees_avatar.png" title="Drew Brees" alt="DB"></div>
                <div class="details">
                    <div class="name"><p>Drew Brees</p></div>
                    <div class="time"><p>1pm-8pm</p></div>
                    <div class="timeslots"><p>3 Timeslots Available</p></div>
                </div>
            </div>
            <div class="trainer">
                <div class="avatar"><img src="../../public/img/profile/aaronrodgers_avatar.png" title="Aaron Rodgers" alt="AR"></div>
                <div class="details">
                    <div class="name"><p>Aaron Rodgers</p></div>
                    <div class="time"><p>7am-3:30pm</p></div>
                    <div class="timeslots"><p>3 Timeslots Available</p></div>
                </div>
            </div>
            <div class="trainer">
                <div class="avatar"><img src="../../public/img/profile/paulgeorge_avatar.png" title="Paul George" alt="PG"></div>
                <div class="details">
                    <div class="name"><p>Paul George</p></div>
                    <div class="time"><p>2pm-11pm</p></div>
                    <div class="timeslots"><p>3 Timeslots Available</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: Dashboard -->
