<nav id="side_nav">
	<div class="side_nav_inner">
		<div class="home_icon"></div>
		<div class="trophies_icon"></div>
		<div class="statistics_icon"></div>
		<div class="friends_icon"></div>
		<div class="nearby_icon"></div>
		<div class="gym_icon"></div>
		<div class="settings_icon"></div>
		<div class="log_icon"></div>
	</div>
</nav>
